@model IEnumerable<p2.Models.Aluno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3 class="nomes">Alunos Cadastrados</h3>


<p>
    <a asp-action="Create" class="cor1">Cadastrar Novo Aluno</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">
                <div>@Html.DisplayNameFor(model => model.Nome)</div><div class="th-pesquisar"><i class="fa fa-search"><input type="search" placeholder="Pesquisar..." /></i></div>

            </th>
            <th scope="col">
                <div>@Html.DisplayNameFor(model => model.Email)</div><div class="th-pesquisar"><i class="fa fa-search"><input type="search" placeholder="Pesquisar..." /></i></div>

            </th>
            <th scope="col">
                <div>@Html.DisplayNameFor(model => model.Cpf)</div><div class="th-pesquisar"><i class="fa fa-search"><input type="search" placeholder="Pesquisar..." /></i></div>


            </th>
            <th scope="col">
                <div>@Html.DisplayNameFor(model => model.Rg)</div><div class="th-pesquisar"><i class="fa fa-search"><input type="search" placeholder="Pesquisar..." /></i></div>


            </th>
            <th scope="col">
                Alterações:
            </th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rg)
                </td>
                <td>
                    <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"></a> |
                    <a asp-action="Details" class="fa fa-info-circle" asp-route-id="@item.Id"></a> |
                    <a asp-action="Delete" class="fa fa-trash" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
